

<section id="contact">
            <div class="container">
                <div class="section-title h2 text-center mb-8">
                    <h2 class="mb-0">Contact</h2>
                    <span class="title-letter">C</span>
                </div>


                <div class="row">
                    <div class="col-lg-10 mx-lg-auto">
                        <div class="row mb-8">
                            <div class="col-lg-8 mx-lg-auto text-center">
                                <p>{{ DATA_CONTACT.intro_text }}</p>
                            </div>
                        </div>
                        <div class="row mb-8">
                            <div class="col-md-6 mb-5 mb-md-0">
                                <div class="feature-block">
                                    <div class="feature-icon text-primary mb-4">
                                        <div class="mx-auto">
                                            <i class="ti-location-pin"></i>
                                        </div>
                                    </div>
                                    <p class="text-center">{{ DATA_CONTACT.location }}</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="feature-block">
                                    <div class="feature-icon text-primary mb-4">
                                        <div class="mx-auto">
                                            <i class="ti-email"></i>
                                        </div>
                                    </div>
                                    <p class="text-center"><a href="mailto:{{ DATA_CONTACT.email }}" class="text-dark">{{ DATA_CONTACT.email }}</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>