
    <section id="home" class="d-flex min-vh-100">
        <div class="container align-self-center text-white text-center">
            <img class="logo" src="{{ DATA_HOME.logo_path }}" />
            <div class="avatar avatar-xxl mb-6">
                <div class="avatar-shape avatar-shape-rounded bg-white mt-n2 mb-n2 mr-n2"></div>
                <img src="{{ DATA_HOME.avatar_path }}" alt="{{ DATA_HOME.name }}"
                    class="avatar-img rounded-circle shadow-light">
            </div>
            <h1 class="mb-2 mb-lg-3">{{ DATA_HOME.name }}</h1>
            <p class="lead mb-0">{{ DATA_HOME.tagline }}</p>
        </div>
    </section>

