{% extends "base.html" %}

{% block content %}
		<div class="page-content">

      <section>
          <div class="container">
            <div class="mb-2">
              <a class="btn btn-light" href="\archives.html"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
            </div>
            <small>
              <i>
                {{ article.locale_date }}
 
								{% if article.updated %}
                  {# Display only the Updated date, formatted #}
                 | Updated: {{ article.updated}}
                {% endif %}
                				

									
              </i>
            </small>
            {{ article.content }}
          </div>
      </section>
    </div>
{% endblock %}
