<!DOCTYPE html>
<html lang="en">
	<head>

		<!-- Title -->
		<title>Chris Sabato, Small College Athletics Creative</title>

		<!-- Required Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Learn a little about Chris Sabato">
		<meta name="author" content="chrissabato.com">

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@chrissabato" />
		<meta name="twitter:creator" content="@chrissabato" />

		<meta property="og:url" content="https://chrissabato.com" />
		<meta property="og:title" content="Chris Sabato, Small College Athletics Creative" />
		<meta property="og:description" content="Learn a little about Chris Sabato." />
		<meta property="og:image" content="https://chrissabato.com/images/image-1.jpg" />


		<link rel="apple-touch-icon" sizes="180x180" href="/theme/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/theme/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/theme/favicon/favicon-16x16.png">


		<!-- Base CSS -->
    <link rel="stylesheet" href="/theme/vendor/bootstrap/dist/css/bootstrap.min.css">

		<link rel="stylesheet" href="/theme/css/style.css">
		<link rel="stylesheet" href="/theme/css/utilities.css">
		<link rel="stylesheet" href="/theme/css/custom.css">

		<!-- Libs CSS -->
		<link rel="stylesheet" href="/theme/vendor/slick/slick.min.css" type="text/css">
		<link rel="stylesheet" href="/theme/vendor/vegas/vegas.min.css" type="text/css">
		<link rel="stylesheet" href="/theme/vendor/featherlight/featherlight.min.css" type="text/css">
		<link rel="stylesheet" href="/theme/vendor/featherlight/featherlight.gallery.min.css" type="text/css">
		<link rel="stylesheet" href="/theme/vendor/themify-icons/css/themify-icons.css" type="text/css">

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/8311e2687d.js" crossorigin="anonymous"></script>

		
	</head>
	<body>

		<div id="preloader" class="preloader">
			<div class="loader-status">
				<div class="spinner"></div>
			</div>
		</div>

		<div class="site-container">

			<div id="top"></div>

			<!-- Mobile logo -->
			<a href="#" class="mobile-logo mobile-logo-light">
				<div class="overlay">
					<div class="overlay-inner bg-primary opacity-50"></div>
				</div>
				<span>Chris Sabato</span>
			</a>

			<!-- Navigation toggle -->
			<button type="button" id="navigation-toggle" class="nav-toggle nav-toggle-light">
				<div class="overlay">
					<div class="overlay-inner bg-primary opacity-50"></div>
				</div>
				<span></span>
			</button>

			<!-- Site header -->
			<header class="site-header bg-transparent">
				<div class="header-inner">
					<div class="overlay">
						<div class="overlay-inner bg-primary opacity-85"></div>
					</div>
					<div class="header-brand">
						<!-- Logo -->
						<a href="/" class="logo">
							<span>Chris Sabato</span>
							<img src="/theme/images/cs-logo-white.svg" />

							<!-- <span class="title-letter text-white opacity-15">CS</span> -->
						</a>
					</div>
					<div class="nav-divider mb-8"></div>
					<nav class="site-nav">
						<ul id="navigation"  class="text-center">
							<li><a href="/" class="scrollto">Home</a></li>
							<li><a href="/#about" class="scrollto">About</a></li>
							<li><a href="/#experience" class="scrollto">Experience</a></li>
							<li><a href="/#skills" class="scrollto">Skills</a></li>
							<li><a href="/#tools" class="scrollto">Tools</a></li>
							<li><a href="/#posts" class="scrollto">Posts</a></li>
							<li><a href="/#contact" class="scrollto">Contact</a></li>
						</ul>
					</nav>
					<div class="nav-divider my-8"></div>
					<nav>
						<ul class="list-inline text-center social-links">
							
										<li class="list-inline-item">
											<a rel="me" class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="https://facebook.com/chrissabato">
												<span class="btn-icon-inner fab fa-facebook-f"></span>
											</a>
										</li>
									
										<li class="list-inline-item">
											<a rel="me" class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="https://instagram.com/chrissabato">
												<span class="btn-icon-inner fab fa-instagram"></span>
											</a>
										</li>
									
										<li class="list-inline-item">
											<a rel="me" class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="https://twitter.com/chrissabato">
												<span class="btn-icon-inner fab fa-twitter"></span>
											</a>
										</li>
									
										<li class="list-inline-item">
											<a rel="me" class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="https://mastodon.chrissabato.com/@chrissabato">
												<span class="btn-icon-inner fab fa-mastodon"></span>
											</a>
										</li>
									
										<li class="list-inline-item">
											<a rel="me" class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="https://linkedin.com/go/chrissabato">
												<span class="btn-icon-inner fab fa-linkedin"></span>
											</a>
										</li>
									
										<li class="list-inline-item">
											<a rel="me" class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="https://discordapp.com/users/558117063714013184">
												<span class="btn-icon-inner fab fa-discord"></span>
											</a>
										</li>
									
										<li class="list-inline-item">
											<a rel="me" class="btn btn-sm btn-icon btn-outline-white border-0 rounded-circle" href="https://hgithub.com/chrissabato">
												<span class="btn-icon-inner fab fa-github"></span>
											</a>
										</li>
									
						</ul>
					</nav>
				</div>
			</header>

			<!-- Header overlay -->
			<div class="header-overlay">
				<div class="overlay-inner bg-primary opacity-80"></div>
			</div>

			<!-- Back to top button -->
			<button type="button" id="backtotop" class="btn btn-primary btn-icon">
				<span class="btn-icon-inner fas fa-angle-up"></span>
			</button>
      
			<!-- article wrapper -->
			<div class="page-wrapper">
          {% block content %}
          {% endblock content %}
        	<!-- Site footer -->
					<footer class="site-footer bg-light">
						<div class="container">					
							<nav class="mb-3">
								<ul class="list-inline text-center">
									
									
												<li class="list-inline-item">
													<a rel="me" class="btn btn-lg btn-icon btn-outline-dark border-0 rounded-circle" href="https://facebook.com/chrissabato">
														<span class="btn-icon-inner fab fa-facebook-f"></span>
													</a>
												</li>
											
												<li class="list-inline-item">
													<a rel="me" class="btn btn-lg btn-icon btn-outline-dark border-0 rounded-circle" href="https://instagram.com/chrissabato">
														<span class="btn-icon-inner fab fa-instagram"></span>
													</a>
												</li>
											
												<li class="list-inline-item">
													<a rel="me" class="btn btn-lg btn-icon btn-outline-dark border-0 rounded-circle" href="https://twitter.com/chrissabato">
														<span class="btn-icon-inner fab fa-twitter"></span>
													</a>
												</li>
											
												<li class="list-inline-item">
													<a rel="me" class="btn btn-lg btn-icon btn-outline-dark border-0 rounded-circle" href="https://mastodon.chrissabato.com/@chrissabato">
														<span class="btn-icon-inner fab fa-mastodon"></span>
													</a>
												</li>
											
												<li class="list-inline-item">
													<a rel="me" class="btn btn-lg btn-icon btn-outline-dark border-0 rounded-circle" href="https://linkedin.com/go/chrissabato">
														<span class="btn-icon-inner fab fa-linkedin"></span>
													</a>
												</li>
											
												<li class="list-inline-item">
													<a rel="me" class="btn btn-lg btn-icon btn-outline-dark border-0 rounded-circle" href="https://discordapp.com/users/558117063714013184">
														<span class="btn-icon-inner fab fa-discord"></span>
													</a>
												</li>
											
												<li class="list-inline-item">
													<a rel="me" class="btn btn-lg btn-icon btn-outline-dark border-0 rounded-circle" href="https://hgithub.com/chrissabato">
														<span class="btn-icon-inner fab fa-github"></span>
													</a>
												</li>
											
								</ul>
							</nav>
							<p class="text-center">© Chris Sabato - All Rights Reserved</p>
						</div>
					</footer>

			</div><!-- end .article-wrapper -->

		</div>

		<!-- Libs JS -->
		<script src="/theme/vendor/jquery/dist/jquery.min.js"></script>
		<script src="/theme/vendor/popper.js/dist/popper.min.js"></script>
		<script src="/theme/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/theme/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="/theme/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="/theme/vendor/jquery-form/dist/jquery.form.min.js"></script>
		<script src="/theme/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
		<script src="/theme/vendor/isotope/dist/isotope.pkgd.min.js"></script>
		<script src="/theme/vendor/featherlight/jquery.detect_swipe.js"></script>
		<script src="/theme/vendor/featherlight/featherlight.min.js"></script>
		<script src="/theme/vendor/featherlight/featherlight.gallery.min.js"></script>
		<script src="/theme/vendor/slick/slick.min.js"></script>
		<script src="/theme/vendor/vegas/vegas.min.js"></script>
		<script src="/theme/vendor/typed.js/typed.min.js"></script>
		<script src="/theme/vendor/granim.js/dist/granim.min.js"></script>

		<!-- Theme JS -->
		<script src="/theme/js/main.js"></script>
		


	</body>
</html>