{% extends "base.html" %}
{% block content %}
    <!-- Global cover background -->
    <div class="global-cover-bg">
        <div class="overlay-inner bg-image-holder bg-cover">
            <img src="/theme/images/image-1.jpg" alt="background">
        </div>
    </div>

    <div id="page-cover" class="page-cover">
        <div class="page-cover-wrapper-fixed">
            <div class="page-cover-bg">
                <div class="overlay-inner bg-primary opacity-55"></div>
            </div>
            <div class="page-cover-wrap">

                <section id="home" class="d-flex min-vh-100">
                    <div class="container align-self-center text-white text-center">
                        <img class="logo" src="/theme/images/cs-logo-white.svg" />
                        <div class="avatar avatar-xxl mb-6">
                            <div class="avatar-shape avatar-shape-rounded bg-white mt-n2 mb-n2 mr-n2"></div>
                            <img src="/theme/images/avatar_small.jpg" alt=""
                                class="avatar-img rounded-circle shadow-light">
                        </div>
                        <h1 class="mb-2 mb-lg-3">Chris Sabato</h1>
                        <p class="lead mb-0">Small College Athletics Creative</p>
                    </div>
                </section>

            </div>
        </div>
    </div><!--end .page-cover -->

    <div class="page-content">
        <!-- About -->
        <section id="about" class="pb-0">
            <div class="container">
                <div class="section-title h2 text-center mb-8">
                    <h2 class="mb-0">About</h2>
                    <span class="title-letter">A</span>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-none d-lg-block">
                        <img class="img-fluid w-100 rounded" src="/theme/images/avatar.jpg" alt="">
                    </div>
                    <div class="col-lg-8">
                        <h3>Chris Sabato</h3>
                        <p class="mb-5">I am a creative for the Willamette University athletics department. A member of
                            the Bearcat staff since 2005, I was promoted to Director of Athletic Communications in 2024.
                        </p>
                        <p class="mb-5">I am responsible for video production, graphic design, photography, and social
                            media within the athletics department. In this role, I am also responsible for the
                            management of the Willamette University Athletics brand and identity.</p>
                        <p class="mb-5">An engineer at my core, I pride myself in my ability to find creative solutions.
                            I have created numerous custom programs to save time and money. By creating in house
                            solutions in lieu of purchasing an expensive alternative I'm able it make improvements by
                            investing only time.</p>
                        <p class="mb-5">As an electronic timer for Willamette cross country and track & field meets I
                            was interviewed by the New York Times to help explain the unprecedented tie in the 2012
                            Olympic Trials women's 100-meter dash.</p>
                        <p class="mb-5">Born and Raised in Western New York, I'm and devoted Buffalo sports fan... a
                            life long member of Bills Mafia, an avid Sabres and Bandits fan.</p>
                        <div class="row mb-0">
                            <div class="col-md-6">
                                <h4 class="mb-1">Education</h4>
                                <p class="h5 mb-0">BS Electircal Engineering</p>
                                <p class="mb-0">Alfred University, 2002</p>
                            </div>

                            <div class="col-md-6">
                                <h4 class="mb-1">Certifications</h4>
                                <p class="h5 mb-0">USA Track & Field</p>
                                <p class="mb-0">Official &mdash; National</p>
                                <p class="mb-0">Coach &mdash; Level 1</p>
                            </div>
                        </div>
                        <!--
                                    <a href="#" class="btn btn-primary" >Download CV</a>
                                    <a href="#contact" class="btn btn-light scrollto">Send Message</a>
                                    -->
                    </div>
                </div>
            </div>
        </section>

        <!--Experience -->
        <section id="experience" class="pb-0">
            <div class="container">
                <div class="section-title h2 text-center mb-8">
                    <h2 class="mb-0">Experience</h2>
                    <span class="title-letter">E</span>
                </div>


                <div class="row">
                    <div class="col-lg-4 mb-1 mb-lg-0">
                        <p class="h5 mb-0">Director of Athletic Communications</p>
                        <p class="opacity-75 mb-0">Willamette University | Salem, Oregon</p>
                        <p class="opacity-75 mb-0">2024 - Present</p>
                    </div>
                    <div class="col-lg-8">
                        <p>Responsible for media production and general sports information duties with in the department
                            of Athletics. This includes all aspects of the Bearcat Network which streams over 100 events
                            per year. Source or capture and catalog all digital imagery, including managing student
                            photographers and hiring of contract photographers. Manage the structure and design of
                            wubearcats.com adding elements and structure to better showcase student-athletes. Streamline
                            processes through custom programs to better manage time and resources.</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 mb-1 mb-lg-0">
                        <p class="h5 mb-0">Assistant Athletic Director, Media</p>
                        <p class="opacity-75 mb-0">Willamette University | Salem, Oregon</p>
                        <p class="opacity-75 mb-0">2016 - 2024 (8 years)</p>
                    </div>
                    <div class="col-lg-8">
                        <p>Responsible for media production with in the department of Athletics. This includes all
                            aspects of the Bearcat Network which streams over 100 events per year. Source or capture and
                            catalog all digital imagery, including managing student photographers and hiring of contract
                            photographers. Manage the structure and design of wubearcats.com adding elements and
                            structure to better showcase student-athletes. Streamline processes through custom programs
                            to better manage time and resources.</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 mb-1 mb-lg-0">
                        <p class="h5 mb-0">Creative Project Specialist</p>
                        <p class="opacity-75 mb-0">Willamette University | Salem, Oregon</p>
                        <p class="opacity-75 mb-0">2012 - 2016 (4 years)</p>
                    </div>
                    <div class="col-lg-8">
                        <p>Responsible for the visual design of print and web materials produced by the department of
                            athletics. Designed schedule posters, camp brochures and other publications. Provided action
                            and portrait photography, including game coverage, player headshots and portraits for
                            posters and other media elements. Technical advisor for departmental audio visual and
                            networking needs as well as internet based applications and software. Implemented in-house
                            web streaming for baseball, basketball, football, soccer, softball and volleyball.</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 mb-1 mb-lg-0">
                        <p class="h5 mb-0">Assistant Track &amp; Field Coach</p>
                        <p class="opacity-75 mb-0">Willamette University | Salem, Oregon</p>
                        <p class="opacity-75 mb-0">2005 - 2014 (9 years)</p>
                    </div>
                    <div class="col-lg-8">
                        <p>Coached the pole vaulters, sprinters, and jumpers. Served as meet director for cross country
                            and track &amp; field home meets including Northwest Conference and NCAA Championships.
                            Organized and managed apparel supply and distribution. Maintained and repaired track and
                            field equipment. Kept records including authoring custom programs for retrieving data from
                            TFRRS for use on the athletics web site.</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 mb-1 mb-lg-0">
                        <p class="h5 mb-0">Assistant Track &amp; Field Coach</p>
                        <p class="opacity-75 mb-0">Rhodes College | Memphis, Tennesee</p>
                        <p class="opacity-75 mb-0">2003 - 2005 (1 yr 10 mos)</p>
                    </div>
                    <div class="col-lg-8">
                        <p>Coached and recruited pole vaulters, sprinters, and jumpers. </p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-4 mb-1 mb-lg-0">
                        <p class="h5 mb-0">IT Desktop Support</p>
                        <p class="opacity-75 mb-0">Alstom Signalling | Rochester, New York</p>
                        <p class="opacity-75 mb-0">2002 - 2003 (1 yr 6 mos)</p>
                    </div>
                    <div class="col-lg-8">
                        <p>Addressing user tickets regarding hardware, software and networking. Walking customers
                            through installing applications and computer peripherals.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Skills -->
        <section id="skills" class="pb-0">
            <div class="container">
                <div class="row mb-8">
                    <div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
                        <div class="section-title h2 mb-3">
                            <h2 class="mb-0">Skills</h2>
                            <span class="title-letter">S</span>
                        </div>
                        <p>A jack of all trades is a master of none, though often times better than master of one.</p>
                    </div>
                </div>
                <div class="row my-n2 mx-sm-n2">


                    <div class="col-md-6 col-xl-4 py-2 px-md-2">
                        <div class="feature-block feature-boxed feature-decorated">
                            <div class="feature-icon text-primary mb-3">
                                <div>
                                    <i class="ti-video-camera"></i>
                                </div>
                            </div>
                            <h3 class="h4 mb-2">Video Production</h3>
                            <p>Specializing in small broadcasts utilizing automations and data driven graphics with
                                locked off cameras to make the production feel bigger.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4 py-2 px-md-2">
                        <div class="feature-block feature-boxed feature-decorated">
                            <div class="feature-icon text-primary mb-3">
                                <div>
                                    <i class="ti-camera"></i>
                                </div>
                            </div>
                            <h3 class="h4 mb-2">Photography</h3>
                            <p>Sports photographer skilled in capturing action on the field or mastering lighting in the
                                studio.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4 py-2 px-md-2">
                        <div class="feature-block feature-boxed feature-decorated">
                            <div class="feature-icon text-primary mb-3">
                                <div>
                                    <i class="ti-brush-alt"></i>
                                </div>
                            </div>
                            <h3 class="h4 mb-2">Graphic Design</h3>
                            <p>Skilled in print and digital, specializing in template driven design to enable quickly
                                turning out content for the web, social or physical media.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4 py-2 px-md-2">
                        <div class="feature-block feature-boxed feature-decorated">
                            <div class="feature-icon text-primary mb-3">
                                <div>
                                    <i class="ti-video-clapper"></i>
                                </div>
                            </div>
                            <h3 class="h4 mb-2">Video Editing</h3>
                            <p>Knowledgeable in non-linear video editing and basic motion graphics including MORGT
                                design and use.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4 py-2 px-md-2">
                        <div class="feature-block feature-boxed feature-decorated">
                            <div class="feature-icon text-primary mb-3">
                                <div>
                                    <i class="ti-harddrives"></i>
                                </div>
                            </div>
                            <h3 class="h4 mb-2">Programming</h3>
                            <p>Proficient in several programing languages having created many custom programs for
                                managing broadcast data, social media and web site data.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-xl-4 py-2 px-md-2">
                        <div class="feature-block feature-boxed feature-decorated">
                            <div class="feature-icon text-primary mb-3">
                                <div>
                                    <i class="ti-timer"></i>
                                </div>
                            </div>
                            <h3 class="h4 mb-2">Photo Finish Timing</h3>
                            <p>Adept in all aspects of cross country and track &amp; field timing including photo finish
                                and RFID chip timing as well as meet management software.</p>
                        </div>
                    </div>






                </div>
            </div>
        </section>

        <!-- Tools -->
        <section id="tools" class="pb-0">
            <div class="container">
                <div class="row mb-8">
                    <div class="col-lg-10 col-xl-8 mx-lg-auto text-center">
                        <div class="section-title h2 mb-3">
                            <h2 class="mb-0">Tools</h2>
                            <span class="title-letter">T</span>
                        </div>Just some of the tools I regularly use and how proficient I feel I am with them.<p></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-0 mb-md-0">

                        <p class="h6 mb-1">vMix</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">NDI</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">Bitfocus Companion</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">PhotoMechanic</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">Adobe Creative Suite</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0 mb-md-0">
                        <p class="h6 mb-1">Python</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">PHP</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">JavaScript</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">HTML/CSS</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">PrestoSports Template Engine</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-0 mb-md-0">
                        <p class="h6 mb-1">Hy-Tek</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">MeetPro</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">FinishLynx</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <p class="h6 mb-1">Colorado Timing System 7</p>
                        <div class="progress mb-2 mb-md-6 rounded-0" style="height:5px">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Posts -->
        <section id="posts" class="pb-0">
            <div class="container">
                <div class="section-title h2 text-center mb-8">
                    <h2 class="mb-0">Posts</h2>
                    <span class="title-letter">P</span>
                </div>
                <div class="row">
                    {% set featured_articles = [] %}

                    {% for article in articles %}
                    {% if article.tags and 'featured' in article.tags|map(attribute='name') %}
                    {% set featured_articles = featured_articles + [article] %}
                    <div class="col-sm-6 col-md-4 mb-8">
                        <article class="news-block border-0">
                            <div class="news-body p-0">
                                <div class="mb-4">
                                    <img class="img-fluid w-100 rounded" src="{{ article.image }}"
                                        alt="{{ article.title }}">
                                </div>
                                <small class="d-block mb-1"> {{ article.locale_date }}</small>
                                <h2 class="h4 mb-1">
                                    {% set article_path_no_domain = article.url|replace('https://chrissabato.com/blog/', '') %}
                                    {% set article_path = article_path_no_domain|replace('/index.html', '') %}
                                    <a href="{{article_path}}"">{{ article.title }}</a>
                                </h2>
                                <p>{{ article.summary }}</p>
                            </div>
                        </article>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <div class="text-center">
                    <a href="{{ SITEURL }}/archives.html" class="btn btn-primary btn-sm">View More Posts</a>
                </div>
            </div>

        </section>

        <!-- Contact -->
        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-lg-auto">
                        <div class="row mb-8">
                            <div class="col-lg-8 mx-lg-auto text-center">
                                <div class="section-title h2 mb-3">
                                    <h2 class="mb-0">Contact</h2>
                                    <span class="title-letter">C</span>
                                </div>
                                <p>Want to say hello? Want to know more about me? Drop me an email or hit me up on
                                    social media and I will get back to you as soon as I can.</p>
                            </div>
                        </div>
                        <div class="row mb-8">


                            <div class="col-md-6 mb-5 mb-md-0">
                                <div class="feature-block">
                                    <div class="feature-icon text-primary mb-4">
                                        <div class="mx-auto">
                                            <i class="ti-location-pin"></i>
                                        </div>
                                    </div>
                                    <p class="text-center">Albany, Oregon</p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="feature-block">
                                    <div class="feature-icon text-primary mb-4">
                                        <div class="mx-auto">
                                            <i class="ti-email"></i>
                                        </div>
                                    </div>
                                    <p class="text-center"><a href="mailto:support@example.com"
                                            class="text-dark">chris@chrissabato.com</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    
{% endblock content %}