{% extends "base.html" %}
{% block content %}
    <!-- Global cover background -->
    <div class="global-cover-bg">
        <div class="overlay-inner bg-image-holder bg-cover" style="background-image: url(&quot;/theme/images/image-1.jpg&quot;);">
            <img src="/theme/images/image-1.jpg" alt="background" style="display: none;">
        </div>
    </div>

  <div id="page-cover" class="page-cover" style="height: 911px;">
        <div class="page-cover-wrapper-fixed">
            <div class="page-cover-bg">
                <div class="overlay-inner bg-primary opacity-55"></div>
            </div>
            <div class="page-cover-wrap">

                <!-- About -->
                {% include '_home.html' %}

            </div>
        </div>
    </div>

    <div class="page-content">
        <!-- About -->
        {% include '_about.html' %}

        <!--Experience -->
        {% include '_experience.html' %}

        <!-- Skills -->
        {% include '_skills.html' %}   

        <!-- Tools -->
        {% include '_tools.html' %}

        <!-- Posts -->
         {% include '_featured.html' %}

        <!-- Contact -->
        {% include '_contact.html' %}
    </div>
    
{% endblock content %}