name: Deploy to GitHub Pages

on:
  push:
    branches: ["dev"] # Change "main" to your source branch name if different
  workflow_dispatch:

jobs:
  deploy:
    uses: "getpelican/pelican/.github/workflows/github_pages.yml@main"
    permissions:
      contents: "read"
      pages: "write"
      id-token: "write"
    with:
      settings: "publishconf.py" # Use your publish configuration file
      # ADD THIS LINE:
      requirements: "-r requirements.txt"