name: Deploy to GitHub Pages

on:
  push:
    branches: ["dev"] # Change "main" to your source branch name if different
  workflow_dispatch:


jobs:
  deploy:
    # --- UPDATE THIS LINE ---
    # uses: "getpelican/pelican/.github/workflows/github_pages.yml@main" 
    uses: "./.github/workflows/pelican-deploy-local.yml.yml" # <-- Point to your new local file
    
    # You can now safely remove the permissions block from here, 
    # as the permissions are now correctly defined in the called workflow.
    # permissions:
    #   contents: "read"
    #   pages: "write"
    #   id-token: "write" 
    
    with:
      settings: "publishconf.py"
      requirements: "-r requirements.txt"